<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dist/css/main.css">
    <title>Covid-19</title>
</head>
<body>
    <section>
        <header>
            <div class="menu">
                <img src="./images/menu.svg" alt="menu">
            </div>
            <img src="./images/header.svg" alt="imagen header" width="100%"/>
        </header>
        <main>
            <div class="cards">
                <div class="card">
                    <figure>
                        <img src="./images/find_doctors.svg" alt="Encontrar doctor">
                        <figcaption>Find Doctors</figcaption>
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img src="./images/video_clip.svg" alt="videos">
                        <figcaption>Find Doctors</figcaption>
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img src="./images/radio_news.svg" alt="radio">
                        <figcaption>Find Doctors</figcaption>
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img src="./images/tv_show.svg" alt="TV">
                        <figcaption>Find Doctors</figcaption>
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img src="./images/e_books.svg" alt="Libros">
                        <figcaption>Find Doctors</figcaption>
                    </figure>
                </div>
                <div class="card">
                    <figure>
                        <img src="./images/shoping.svg" alt="Tienda">
                        <figcaption>Find Doctors</figcaption>
                    </figure>
                </div>
            </div>
            <div class="hospitales">
                <h1>
                    Disponibilidad de hospitales
                </h1>
                <article>
                    <div class="hospital-img">
                        <img src="./images/hospitales_1.svg" alt="">
                    </div>
                    <div class="hospital-info">
                        <label>Johns Hopkins Hospital</label>
                        <p>Baltimore, USA</p>
                        <p>Available beds 16,800</p>
                    </div>
                </article>
                <article>
                    <div class="hospital-img">
                        <img src="./images/hospitales_2.svg" alt="">
                    </div>
                    <div class="hospital-info">
                        <label>Massachusetts General Hospital</label>
                        <p>Baltimore, USA</p>
                        <p>Available beds 12,620</p>
                    </div>
                </article>
            </div>
        </main>
    </section>
</body>
</html>