<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEM</title>
    <link rel="stylesheet" href="/dist/css/style.css">
</head>
<body>
    <nav class="main-nav">
        <ul id="main-menu" class="main-menu">
            <li class="main-menu__item">
                <a href="#" class="main-menu__link main-menu__link--active">¿Quien soy?</a>
            </li>
            <li class="main-menu__item">
                <a href="#" class="main-menu__link">¿Que sé?</a>
            </li>
            <li class="main-menu__item">
                <a href="#" class="main-menu__link">¿Que estoy aprendiendo?</a>
            </li>
            <li class="main-menu__item">
                <a href="#" class="main-menu__link">Visítame</a>
            </li>
        </ul>
    </nav>
    <main>
        <section class="main-buttons">
            <button class="button">Botón 1</button>
            <button class="button button--orange">Botón 2 informar</button>
            <button class="button">Botón 3</button>
            <button class="button button--active">Botón 4 activo</button>
            <button class="button">Botón 5</button>
            <button class="button button--inactive">Botón 6 inactivo</button>
            <button class="button button--block">Botón 7 en bloque</button>
        </section>
        <section class="images">
            <div class="img-container img-container--bottom">
                <img src="/assets/cat.jpg" class="img"/>
                <div class="content-after content-after--slace">
                    <img src="/assets/twitter.svg" alt="">
                </div>
            </div>
            <article class="articles">
               <div class="content-article">
                    <img src="/assets/cat.jpg" class=""/>
                    <div class="content-img images-active">
                        <img src="/assets/twitter.svg" alt="imagen twitter">
                        <img src="/assets/facebook.svg" alt="imagen facebook">
                        <img src="/assets/github.svg" alt="imagen github">
                        <img src="/assets/linkedin.svg" alt="imagen linkedin">
                    </div>
               </div> 
            </article>
        </section>
    </main>
    <script src="/js/scripts.js"></script>
</body>
</html>