/*variables CSS*/
:root {
 --color: white;
 --txtcolor:  rgb(83, 87, 90);
 --txtTamano: 1.1rem;
 --txtFamily: 'Lato', "sans-serif";
 --txtLine: 1.6;
}

body {
	background: var(--color);
}
p {
	color: var(--txtcolor);
	font-size: var(--txtTamano);
	font-family: var(--txtFamily);
	line-height: var(--txtLine);
}

/*agrupacion de selectores*/
.select1,
.select2{
	color: green;
}

.title1{
	color:  #FFC300;
}
.title2{
	color:  #FF5733;
}
/*agrupacion de selectore con + hermanos directos (el que esta junto, el siguiente)*/
.title1 + .subtitle{
	color:  #FFC300;
}
.title2 + .subtitle{
	color:   #FF5733 ;
}

.enabled{
	display: none;
}
/*seleccionar todos los hermanos con tilte  ~*/
.check:checked ~ .enabled {
	display: block;
}
/*seleccionar todos los hermanos con tilte  ~ */
.check:checked ~ .disabled{
	display: none;
}
/*Selector de atributos se encuentran dentro de corchetes*/
[required]{
	border: 1px solid  #FFC300;
}
/*Selector de propiedad donde el selector empieza con un valor especifico*/
[href^="/"],
[href^="http://miPagina.com"]{
	color: red;
	background: none;
}
a {
	background: url(../img/external-link.png) no-repeat right / 1.3rem;
	padding-right: 1.6rem;
}
/*Selectores que terminen en un valor en especifico se agrega $*/
[href$=".pdf"]{
	background: url() no-repeat right / 1.3rem;
}
/*Seleccionar todos las atibutos que contengan el valor especificado se agrega un asterisco*/
[class*="nombre"]{
	background: pink;
}


